*
!.gitignore
!README.adoc
!CHANGELOG.adoc
!AGENTS.md
!LICENSE
!changelog-details/
!changelog-details/**
!package.json
!pnpm-lock.yaml
!astro.config.mjs
!tsconfig.json
!version.json
!public/
!public/**
!src/
!src/**
!.github/
!.github/**
node_modules/
node_modules/**
dist/
dist/**
.astro/
.astro/**
